* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

::-webkit-scrollbar {
  background: rgb(230, 229, 229);
  width: 15px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 196, 0);
  border: 2px red solid;
  border-radius: 10px;
}

body {
  transition: all ease-in-out 1s;
}

button:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.5s;
}

a:link {
  text-decoration: none;
}

/*------------nav-bar items----------------*/
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 4rem;
  color: white;
  font-size: 1.1rem;
  z-index: 5;
  width: 100%;
  border-bottom: solid rgb(0, 196, 0) 3.5px;
}

nav ul li {
  cursor: pointer;
  list-style: none;
}

.logo {
  align-self: center;
  height: 70%;
  width: 170px;
  border-radius: 20px;
  margin-left: 1rem;
}

.menu-items {
  align-self: flex-end;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}

.side-items {
  align-self: flex-end;
  display: flex;
  flex-shrink: 1.5;
  justify-content: center;
  align-items: center;
}
.side-items li {
  padding-right: 1rem;
}

.submenu-icon {
  display: none;
}
.searchbox {
  display: inline;
  width: 11rem;
  background: white;
  border-radius: 30px;
  justify-items: center;
  margin-right: 1rem;
  padding-left: 1rem;
  border: solid rgb(0, 196, 0) 3px;
}
.searchbox:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.15);
}

.link-btn {
  background: rgb(0, 196, 0);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 0.2rem 0.7rem 0.2rem 0.7rem;
  font-size: 1.2rem;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 1px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
  border: solid 3.5px rgb(0, 196, 0);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 7px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-items li a {
  color: white;
}

.menu-items li button {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
}

.menu-items li button:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 1150px) {
  nav {
    padding-right: 1rem;
  }
  .menu-items {
    display: none;
  }
  .submenu-icon {
    display: block;
    justify-self: flex-end;
    align-self: right;
    font-size: xx-large;
    cursor: pointer;
  }
  .side-items {
    justify-content: flex-end;
    flex-grow: 1;
  }
}

@media screen and (max-width: 799px) {
  nav {
    padding-right: 0.5rem;
    justify-content: space-between;
  }
  .menu-items {
    display: none;
  }
  .side-items {
    display: none;
  }
  .submenu-icon {
    display: block;
    align-self: center;
    font-size: xx-large;
    cursor: pointer;
  }
}

/* -----------------------Carousel Slider---------------------------------------- */

.carousel-item {
  background: url(./media/sky.jpg) no-repeat;
  background-size: cover;
  color: black;
  height: 38rem;
  position: relative;
}
.carousel-item:nth-child(2) {
  background: url(./media/backwaters.jpg) no-repeat;
  background-size: cover;
}
.carousel-item:nth-child(3) {
  background: url(./media/hills.jpg) no-repeat;
  background-size: cover;
}
.carousel-item:nth-child(4) {
  background: url(./media/culture-of-kerala-1.jpg) no-repeat;
  background-size: cover;
}
.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 35px;
  font-family: cursive;
  background: rgb(255, 255, 255, 0.88);
}
.carousel-indicators {
  background: rgb(0, 196, 0);
}

.explore-container article {
  margin: 2rem auto;
  width: 80%;
  max-width: 1000px;
}

.explore-container article h1 {
  text-align: center;
  color: rgb(0, 119, 0);
  font-size: 2rem;
}
.district-list {
  margin: 1rem auto;
  width: 85%;
  list-style-type: none;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.district-list li {
  background-color: rgba(255, 251, 4, 0.2);
  border-radius: 20px;
  border: solid 2.5px rgb(0, 119, 0);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(180px, 1.3fr) auto;
}
.district-list li img {
  margin: 1rem auto;
  width: 90%;
  height: 218px;
}

.district-list li img,
h3 {
  grid-column: 1;
  grid-row: 1/2;
}
.district-list li h3 {
  color: #fff;
  text-align: center;
  align-self: end;
  margin-bottom: 1.3rem;
  background-color: rgba(0, 0, 0, 0.75);
  width: 90%;
  margin-left: 4.9%;
}
.district-list li a {
  text-align: center;
  margin: auto;
  background: rgb(0, 196, 0);
  color: white;
  margin-bottom: 1rem;
  padding: 1px 30px 1px 30px;
  border-radius: 12px;
}
.district-list li p {
  width: 90%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-align: justify;
  margin: -0.2rem auto;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 105%;
  color: white;
}

.tour-wrapper {
  margin-top: 5rem;
  justify-content: center;
}
.tour-packages {
  margin-top: 1rem auto;
  background: url(./media/railway_beauty.jpg) no-repeat;
  background-size: cover;
  height: 110vh;
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 0.8fr 0.8fr 0.8fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5em;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  margin-top: 1rem auto;
  border: 2.5px saddlebrown solid;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  color: white;
  padding: 1rem 2rem 1rem 2rem;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 0.3fr 1.5fr 0.5fr;
  text-align: center;
}

@media screen and (min-width: 801px) {
  .tour-packages {
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  }
  .card-1 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .card-2 {
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .card-3 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .card-4 {
    grid-row: 3/4;
    grid-column: 3/4;
  }
}

@media screen and (max-width: 800px) {
  .tour-packages {
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: 0.1fr 2fr 2fr 2fr 2fr 0.1fr;
    height: 180vh;
  }
  .card-1 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .card-2 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .card-3 {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .card-4 {
    grid-row: 5/6;
    grid-column: 2/3;
  }
}

.card-1 .tile-bg {
  background: url(./media/wild.jpg) no-repeat;
  background-size: cover;
}
.card-2 .tile-bg {
  background: url(./media/trekking.jpg) no-repeat;
  background-size: cover;
}
.card-3 .tile-bg {
  background: url(./media/underwater) no-repeat;
  background-size: cover;
}
.card-4 .tile-bg {
  background: url(./media/folk.jpg) no-repeat;
  background-size: cover;
}
/* ------------------------------------------FORM PAGE -REGISTRATION -----------------------------------*/

/* .h-100 {
  margin-top: 5rem;
}
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
/* background: #a1c4fd;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* background: linear-gradient(to right, rgb(244, 253, 161), rgb(1, 230, 20));
}

.bg-green {
  background-color: rgb(0, 119, 0);
} */
/* @media (min-width: 992px) {
  .card-registration-2 .bg-green {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@media (max-width: 991px) {
  .card-registration-2 .bg-green {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.registration-page {
  margin-top: 0;
} */
/* @media screen and (max-width: 460px) {
  .registration-page {
    margin-bottom: 130rem;
  }
  header {
    height: 4rem;
  }
} */
/* @media screen and (max-width: 1024px) {
  .registration-page {
    margin-bottom: 130rem;
  }
  header {
    height: 4rem;
  }
}  */

.form-layout {
  width: 73%;
  border: 3px solid rgb(0, 196, 0);
  border-radius: 30px;
  margin: 14rem auto;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  padding-bottom: 5rem;
  background-color: rgb(255, 255, 255, 0.95);
}
@media screen and (max-width: 800px) {
  .form-layout {
    width: 96%;
  }
}
.form-layout h2,
p {
  margin: auto;
  grid-column: 1/-1;
}

.form-layout label {
  grid-column: 2/3;
}
.form-layout input {
  grid-column: 3/4;
}
.form-layout #firstname-alert,
#lastname-alert,
#alert-msg1,
#alert-msg2,
#number-alert,
#email-alert {
  grid-column: 3/4;
  color: white;
  border-radius: 7px;
}
.form-layout #final-check {
  grid-column: 2/4;
  text-align: center;
  font-size: x-large;
}

.form-layout button {
  grid-column: 2/4;
  background: rgb(0, 196, 0);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 0.2rem 0.7rem 0.2rem 0.7rem;
  font-size: 1.2rem;
}

#alert-msg1,
#alert-msg2,
#number-alert {
  border: 2.5px solid yellow;
}

#pwd-strength {
  height: 2rem;
  grid-column: 3/4;
  border-radius: 12px;
}
#pwd-strength2 {
  height: 2rem;
  /* grid-column: 3/4; */
  border-radius: 12px;
}
#bar {
  grid-column: 3/4;
  width: 10%;
  background: red;
  font-size: 10px;
  height: 0.5rem;
  border-radius: 12px;
  margin-top: -1.5rem;
}
#bar2 {
  width: 10%;
  background: red;
  font-size: 10px;
  height: 0.5rem;
  border-radius: 12px;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
/* ---------------------------FORM PAGE- LOG-IN--------------------------------- */
.login-container {
  background: url(./media/kathakali.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 99.7%;
}

@media screen and (min-width: 1200px) {
  .login-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr;
  }
}
div .row {
  grid-column: 3/6;
}
.row card {
  width: 100%;
}

/* ----------------------------FOOTER---------------------------- */
.footer {
  margin-top: 10rem;
  padding: 1rem;
  color: white;
  background: black;
}
footer a {
  text-decoration: none;
}
.footer-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr 0.2fr;
  text-align: center;
}
.footer img {
  width: 200px;
}
.footer-container1 {
  display: flex;
  flex-direction: column;
}
.footer-container1 a {
  text-decoration: none;
  color: white;
}
.footer-container2 a {
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.social-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.address-block {
  margin-left: 22%;
  text-align: left;
}

.footer h6 {
  text-align: center;
}

/* ------------------------ANIMATION HELPER PROPERTY--------------------- */
.reveal {
  position: relative;
  transform: translateY(120px);
  opacity: 0;
  transition: all 1.9s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
/* ----------------------------------INDIVIDUAL-DISTRICT PAGE STYLINGS----------------------------- */
.districtpg-hero {
  height: 90vh;
  width: 100%;
  position: relative;
}
.districtpg-hero h2 {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-bottom: 2.8rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  letter-spacing: 1.5rem;
}
.districtpg-hero h4 {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.3rem;
}
@media screen and (max-width: 600px) {
  .districtpg-hero h2 {
    letter-spacing: 0.2rem;
  }
}
#thrissur {
  background: url(./media/thrissur-bground.jpg) no-repeat;
  background-size: cover;
}
#malappuram {
  background: url(./media/malappuram-bg.jpg) no-repeat;
  background-size: cover;
}
#palakkad {
  background: url(./media/palakkad-bg.jpg) no-repeat center;
  background-size: cover;
}
#kasaragod {
  background: url(./media/kasargod-bg.jpg) no-repeat top;
  background-size: cover;
}
#kannur {
  background: url(./media/kannur-bg.jpg) no-repeat;
  background-size: cover;
}
#wayanad {
  background: url(./media/wayanad-bg.jpg) no-repeat;
  background-size: cover;
}
#kozhikode {
  background: url(./media/kozhikode-bg.jpg) no-repeat;
  background-size: cover;
}
#ernakulam {
  background: url(./media/ernakulam-bg.jpg) no-repeat center;
  background-size: cover;
}
#alappuzha {
  background: url(./media/alappuzha-bg.jpg) no-repeat;
  background-size: cover;
}
#kottayam {
  background: url(./media/kottayam-bg.jpg) no-repeat;
  background-size: cover;
}
#kollam {
  background: url(./media/kollam-bg.jpg) no-repeat;
  background-size: cover;
}
#pathanamthitta {
  background: url(./media/pathanamthitta-bg.jpg) no-repeat;
  background-size: cover;
}

#trivandrum {
  background: url(./media/trivandrum-bg.jpg) no-repeat;
  background-size: cover;
}

#idukki {
  background: url(./media/idukki-bg.jpg) no-repeat;
  background-size: cover;
}
.description ul p {
  margin: 2rem 2.5rem 1rem 2.5rem;
}
.description ul li {
  width: 65%;
  height: 33rem;
  border: solid 2px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  list-style-type: none;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 2.5fr 2.5fr;
  grid-template-rows: 60px 1fr 1fr 1fr;
  border-radius: 30px;
}
@media screen and (max-width: 460px) {
  .description ul li {
    width: 95%;
  }
}
.description ul li div {
  background-size: cover;
  border-radius: 6px 0 0 6px;
  padding-top: 1rem;
  text-align: center;
  text-shadow: 1px 1px 2px #223055;
  grid-column: 1 / 3;
  grid-row: 2/5;
  border-radius: 30px;
}
/* 
-------------------Adding unique tourist locations to each page----------------- */
/* ------KSD-------- */
#kasaragod-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/kasargod-bg.jpg) no-repeat center;
  background-size: cover;
}
#kasaragod-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/ksd-mosque.jpg) no-repeat center;
  background-size: cover;
}

/* -----KNR------- */
#kannur-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/knr-beach.jpg) no-repeat center;
  background-size: cover;
}
#kannur-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/knr-fort.jpg) no-repeat center;
  background-size: cover;
}

/* -----CCJ-------- */
#kozhikode-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/ccj-kadalundi.jpg) no-repeat center;
  background-size: cover;
}
#kozhikode-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/ccj-pazhassi.jpg) no-repeat center;
  background-size: cover;
}

/* -----------MLPM-------- */
#malappuram-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/Screenshot_1.jpg) no-repeat center;
  background-size: cover;
}
#malappuram-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/mlpm-biyyam.jpg) no-repeat center;
  background-size: cover;
}

/* WAYANAD */
#wayanad-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/wynd-caves.jpg) no-repeat center;
  background-size: cover;
}
#wayanad-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/wynd-falls.jpg) no-repeat center;
  background-size: cover;
}

/* ------THRISSUR------- */
#thrissur-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/Vadakkumnathan_Temple.jpg) no-repeat center;
  background-size: cover;
}
#thrissur-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/shakthan-thampuran-palace.jpg) no-repeat center right;
  background-size: cover;
}
#thrissur-description ul li:nth-of-type(3) :nth-child(1) {
  background: url(./media/athirappally.jpg) no-repeat center;
  background-size: cover;
}
/* ----PALAKKAD--------- */
#palakkad-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/pkd-malampuzha.jpg) no-repeat center;
  background-size: cover;
}
#palakkad-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/pkd-fort.jpg) no-repeat center;
  background-size: cover;
}
/* --------ALPZHA-------- */
#alappuzha-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/alpz-marari.jpg) no-repeat center;
  background-size: cover;
}
#alappuzha-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/alpz-punnamada.jpg) no-repeat center;
  background-size: cover;
}
/* -----EKM-------- */
#ernakulam-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/ekm-paradesi.jpg) no-repeat center;
  background-size: cover;
}
#ernakulam-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/ekm-santa-cruz.jpg) no-repeat center;
  background-size: cover;
}
#ernakulam-description ul li:nth-of-type(3) :nth-child(1) {
  background: url(./media/ekm-hill-palace.jpg) no-repeat center;
  background-size: cover;
}
/* ------IDUKKI------- */
#idukki-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/idukki-pothamedu.jpg) no-repeat center;
  background-size: cover;
}
#idukki-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/idukki-mattupetty.jpg) no-repeat center;
  background-size: cover;
}

/* ------KOTTAYAM---- */
#kottayam-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/kottayam-Illickal-Kallu.jpg) no-repeat center;
  background-size: cover;
}
#kottayam-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/kottayam-kumarakom.jpg) no-repeat center;
  background-size: cover;
}

/* -----KOLLAM------- */
#kollam-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/kollam-ashtamudi.png) no-repeat center;
  background-size: cover;
}
#kollam-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/kollam-bg.jpg) no-repeat center;
  background-size: cover;
}

/* --------PTNMTTA-------- */
#pathanamthitta-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/ptmtta-periyar-park.jpg) no-repeat center;
  background-size: cover;
}
#pathanamthitta-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/ptmtta-perumthenaruvi.jpg) no-repeat center;
  background-size: cover;
}

/* ------TRIVI----------- */
#trivandrum-description ul li:nth-of-type(1) :nth-child(1) {
  background: url(./media/trivi-kovalam.jpg) no-repeat center;
  background-size: cover;
}
#trivandrum-description ul li:nth-of-type(2) :nth-child(1) {
  background: url(./media/trivi-napier.jpg) no-repeat center;
  background-size: cover;
}

#trivandrum-description ul li:nth-of-type(3) :nth-child(1) {
  background: url(./media/trivandrum-bg.jpg) no-repeat center;
  background-size: cover;
}

.description ul li h2 {
  grid-row: 1/2;
  grid-column: 1/3;
  background: rgb(0, 119, 0);
  color: white;
  border-radius: 30px;
  text-align: center;
}
.description ul li p {
  padding-left: 1rem;
  padding-right: 1rem;
  grid-row: 2/5;
  grid-column: 2/3;
}

/* --------------KERALA--------------------- */
#Kerala {
  background: url(./media/kerala-gods-own-country.jpg) no-repeat bottom center;
  background-size: cover;
}

-----------POPUP FOR MOBILE MENU----------------- .popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 80vw;
  height: 80vh;
  z-index: 10;
  display: none;
}
.popup .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 5px solid rgb(245, 4, 16);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: yellow;
  width: 85vw;
  height: 60vh;
  z-index: 20;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.popup .content button {
  width: 70%;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.75);
}
.popup.active .content {
  transition: all 0.1s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
